/* Center feedback card */
.tp-feedback-page-card {
  max-width: 80%;
  margin: var(--space-xl) auto 0 auto;
}

.tp-feedback-section-title {
  font-size: clamp(40px, 5.6vw, 64px);
  font-weight: var(--fw-bold);
  line-height: 1.04;
  margin: var(--space-md);
}
.tp-feedback-section-title span {
  color: var(--clr-primary);
}

.tp-feedback-form {
  max-width: 100%;
  margin: 0 auto;
}
.form-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: var(--space-xl);
}
.tp-feedback-form-group {
  width: 48%;
}

.tp-feedback-btn {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .tp-form-group {
    /* width: 100%; */
    width: 40%;
  }
  .tp-feedback-page-card {
    max-width: 90%;
  }
}
@media (max-width: 426px) {
  .tp-feedback-btn {
    width: 100%;
  }
  .tp-feedback-page-card {
    max-width: 100%;
  }
  .form-wrapper {
    padding: var(--space-sm);
  }
}

/* 
==============================================================================
            DASHBOARD FEEDBACK PAGE START
==============================================================================
*/

/* ===============================
   FEEDBACK TABLE
================================ */

.tp-table-wrapper-feedback {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tp-table-feedback {
  display: grid;
  grid-template-columns:
    1fr
    1fr
    1fr
    1.5fr
    1.2fr
    1fr
    1fr;
  gap: var(--space-md);
  align-items: center;
  min-width: 950px;
}

/* Mobile scroll */
@media (max-width: 900px) {
  .tp-table-feedback {
    min-width: 950px;
  }
}
/* 
==============================================================================
            DASHBOARD FEEDBACK PAGE END
==============================================================================
*/
